.navbar {
    margin-bottom: 10;
    border-radius: 10;
  }

  .heightB{
      height: 100%;
  }

  .row.content {height: 100%}
  
  .sidenav {
    padding-top: 20px;
    background-color: #6baef1;
    min-height: 700px;
  }

  .option-style{
    white-space: pre-wrap;
    border-radius: 100px;
    text-align: center;
    width: 90%;
    padding: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: small;
    background-color: #1976d2;
  }

  .option-style2{
    white-space: pre-wrap;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: rgb(15, 1, 1);
    margin-bottom: 10px;
    font-size: larger;
    background-color: #1976d2;
  }
  
  .content-background {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px;
  }
  
  