<div class="row">
    <div>
        <br>
        <div class="tile-style">
            <div>  
                <table>
                    <div style="margin: 2px;"><tr><th class="col1s">ID</th><th class="col2h">User Name</th><th class="col1h">Phone</th><th class="col2h">Email</th><th class="col1h">Address</th></tr></div>
                    <div *ngFor="let user of users" style="margin: 2px;">
                        <tr><td class="col1s">{{user.id}}</td><td class="col2d">{{user.username}}</td><td class="col1d">{{user.phone}}</td><td class="col2d">{{user.email}}</td><td class="col1d">{{user.address}}</td>
                        
                        </tr>
                    </div>
                </table>
                <br> 
                
            </div>
        </div>
    </div> 
</div>