<br>
 
<div class="row">
    <div class="col-md-6 offset-md-3" style="align-items: left;">
        <h1 class="text-center"><b>EDIT BOOK INFO</b></h1>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="editBook()">
            <div class="form-group required">
                <label>Book Name</label>
                <input class="form-control" formControlName="bookName" [ngModel]="book.name">
            </div>
            <br>
            <div class="form-group required">
                <label>Writter Name</label>
                <input class="form-control" formControlName="writterName" [ngModel]="book.author">
            </div>
            <br>
            <div class="form-group required">
                <label>Catagory</label>
                <input class="form-control" formControlName="catagory" [ngModel]="book.category">
            </div>
            <br>
            <div class="form-group required">
                <label>Description</label>
                <input class="form-control" formControlName="description" [ngModel]="book.description">
            </div>
            <br>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-lg btn-block" style="background-color: #0057ad;">SUBMIT</button>
                    <br>
                </div>
                
            </div>
        </form>
    </div>
</div>
